<main>
        <div>
            <section>
                <div>
                    {{> title data="My education :" big=true}}
                    {{#with main}}
                    {{#each institute}}
                    <ul>
                        <li>{{name}} {{#if isEnd}}(закінчив){{else}}(ще навчаюсь){{/if}}</li>
                    </ul>
                    {{/each}}
                </div>
                {{/with}}
                <hr>
                <div>
                    {{> title data="My certificates :" big=false}}

                    {{#with main}}
                
                        {{#each certificates}}
                <ul>
                     <li>{{name}} {{#if status}}(ID: {{id}}){{/if}}</li>
                        
                    </ul>
    {{/each}}
<br>
<hr>
<br>
    {{#each certificates}}
                    {{#if @index}}
                <li>
                    {{name}}
                </li>
                {{else}}
                <li>
                    {{name}} ({{id}})
                </li>
                {{/if}}
    {{/each}}
                


                    {{/with}}
                </div>

            </section>

        </div>
    </main>


