<main class="p-2 m-1" style="background:rgba(27, 50, 135, 0.914);">
   
    {{#with person}}
 <div class="row p-2 border" style="background: blue;">


        <div class="col-4 mt-2 border-end">
    <p class="fs-3 ps-5 pe-1 pt-1 mb-0 text-light fw-bold"> {{> title data="PERSON INFORMATION" big=true}} </p>
   </div>
    <div class="col-8">
        <a href="#" class="btn p-2" type="button" style="background:blue;">
    <p class="fw-bold text-light mb-2 ps-4 pt-1 pb-1" style="font-size: 24px;">{{name}}</p>
    </a>
     </div>  
        </div> 
    <section class="row bg-dark text-light py-3"> 
        <div class="col-3 p-2">
<dl class="border p-4 me-3 mb-5">

    <dt>
        <p>
            <h3>{{name}} :</h3>
        </p>
    </dt>
    <dd>
        <b>Age:</b> <i>{{age}}</i>
    </dd>
    <dd>
        <b>Gender:</b> <i>{{gender}}</i>
    </dd>
</dl>
        </div>
         <div class="col-3 p-5 border">
{{#with address}}

            <details open>
                     <summary><ins><strong>Address information:</strong></ins></summary>
<dl>
    <dd>
        <b>Street:</b> <i>{{street}}</i>
    </dd>
    <dd>
        <b>City:</b> <i> {{city}}</i>
    </dd>
      <dd>
        <b>State:</b> <i>{{state}}</i>
    </dd>
    <dd>
        <b>Post/zip code:</b> <i>{{zip}}</i>
    </dd>
    <dd>
        <b>Country:</b> <i>{{country}}</i>
    </dd>
</dl>
             </details>
             {{/with}}
    </div> 
 <div class="col-3 p-5 border">
{{#each education}}
    <section>
            <details open>
                     <summary><ins><strong>Education info:</strong></ins></summary>
<dl>
    <dt>
        <ins>
                <b>
                      {{university}} :
                </b>
        </ins>
    </dt>
    <br>
    <dd>
        <b>Degree:</b> <ins>{{degree}}</ins>
    </dd>
    <dd>
        <b>Major:</b> <ins>{{major}}</ins>
    </dd>
      <dd>
        <b>Graduation year:</b> <ins>{{graduationYear}}</ins>
    </dd>
</dl>
             </details>
    </section>
    {{/each}}
</div>
 <div class="col-3 p-5 border">
{{#each workExperience}}
    <section>
            <details open>
                     <summary><ins><strong>Work expirience:</strong></ins></summary>
<dl>
    <dt>
        <ins>
                <b>
                      {{company}} :
                </b>
        </ins>
    </dt>

    <dd>
        <b>Title:</b> <ins>{{title}}</ins>
    </dd>

    <dd>
        <b>Duration:</b> <ins>{{startDate}} - {{#if endDate}}{{endDate}}{{else}}(ще працюю){{/if}}</ins>
    </dd>
    <br>
    <dt>
        <b>Responsibilities:</b>
    </dt>
      <dd>
            {{#each responsibilities}}
           <li><ins>{{this}}</ins></li> 
            {{/each}}
    </dd>
    <br>
    <dd>
        <b>Field of industry: </b><ins>{{industry}}</ins>
    </dd>
    <dd>
        <b>Year of foundation: </b><ins>{{year_founded}}</ins>
    </dd>
</dl>
</details>
</dd>
</div>
</section>

<div class="row bg-primary p-5 border">
    <dd class="col-4 row p-2 border-bottom">
    <details open>
                     <summary><ins><strong>Employees list :</strong></ins></summary>


{{#each employees}}  
<div class="col-10 row p-3 border">
    <dl> 
    <dd>
        <b>Name:</b> <ins>{{name}}</ins>
    </dd>
    <dd>
        <b>Position:</b> <ins>{{position}}</ins>
    </dd>
    <dd>
        <b>Department:</b> <ins>{{department}}</ins>
    </dd>
    </dl>
</div>
    </details>
    </dd>
    <dd class="col-4 row p-2 border-bottom">
        <details open>
                     <summary><ins><strong>Projects :</strong></ins></summary>
        {{#each projects}}
        <div class="col-10 row p-3 border">
                      <dl> 
        
    <dd>
        <b>Name:</b> <ins>{{name}}</ins>
    </dd>
    <dd>
        <b>Description:</b> <ins>{{description}}</ins>
    </dd>
    <dd>
        <b>Status:</b> <ins>{{status}}</ins>
    </dd>
                      </dl>
    </div>
        </details>
  </dd>
     <dd  class="col-4 row p-2 border-bottom">
        <details open>
                     <summary><ins><strong>Teams :</strong></ins></summary>
                    
                      <div class="col-10 p-3 mb-3 border">
                            <dl>
                        <dd>
                            {{#each teams}}
                            <b>Team name: </b> <ins>{{team_name}}</ins>
                        </dd>
                         <dd class="col-10 row mt-4">
                      
                            {{#with team_leader}}
                           
                             <ul class="p-2 border me-2" type="none">
                                     <li><b>Team Leader: </b> <ins>{{name}}</ins></li> 
                                     <li><b>Position: </b> <ins>{{title}}</ins></li> 
                                     <li><b>Email: </b> <ins>{{email}}</ins></li> 
                             </ul>
                                     </dd>
                                    
                                     {{/with}}
                        
                                     {{#each team_members}}
                                 </dl>
                                 </div> 
        </details>
                                 </dd>  
        <dd  class="col-6 row p-2 border-bottom">
            <details open>
                            <summary>
                                <ins><strong>Team members :</strong></ins>
                                </summary>
                                <div class="col-10 p-3 border mb-4"> 
                                    <dl>
                           <ul type="none">
                                     <li><b>Name: </b> <ins>{{name}}</ins></li> 
                                     <li><b>Title: </b> <ins>{{title}}</ins></li> 
                                     <li><b>Email: </b> <ins>{{email}}</ins></li>
                                      </ul> 
                                   
                                        <dd class="col-10 mb-3">
                                    <ins><b>Skills: </b></ins>
                                   
                                         {{#each skills}} 
                                    <div class="p-2 mb-1 border">
                                     <li>{{this}}</li>
                                    </div>
                                     {{/each}}
                                     </dd>
                                    </dl>
        </div>
            </details>
            </dd>
            <dd class="col-6 row p-2 border-bottom mt-5">
                <details open>
                         <summary><ins><strong>Projects :</strong></ins></summary>
                     <dl>
                      <div class="col-12 row">
                        {{#each projects}}   
                      
                        <div class="col-6 p-3 ms-1 border">
                        <dd class="my-2">
                            <b>Name: </b> <ins>{{name}}</ins>
                        </dd>
                        <dd class="my-2">
                            <b>Description: </b> <ins>{{description}}</ins>
                        </dd>
                        <dd class="my-2">
                            <b>Technologies: </b> <ins>{{technologies}}</ins>
                        </dd>
                        </div>
                        <div class="col-6 row">
                         <dd >
                            <ins><strong>Projects :</strong></ins>
                            {{#each team_members}}
                            <div class="p-3 border">
                            <li>{{name}}</li>
                             <li>{{title}}</li>
                            </div>
                            {{/each}}
                        </dd>
                       </div>
              </div>
              </dl>
        </details>   
    </dd>
            
                        {{/each}}
                        </dd>
                       
     {{/each}}
    </dl>
        </details>   
    </dd>
   
    {{/each}}
    </dl>
        </details>
    </dd>
    {{/each}}
    </dl>
 <section class="row">
      <a href="/" title="Main Page" class="btn text-light rounded text-uppercase my-1 p-3 border border-3 fw-bold fs-3" style="background:rgba(19, 35, 95, 0.874);">Головна</a>
</section>
</section>
{{/each}}
</details>

   
    {{/each}}



{{/with}}  

</main>