<main class="p-3" style="background:greenyellow;">

<section class="row">
      <a href="/" title="Main Page" class="btn text-dark rounded text-uppercase my-1 p-3 border border-3 bg-primary fw-bold fs-3">Головна</a>
</section>

<style>
    .flex-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: space-around;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: baseline;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 3;
  flex-shrink: 3;
  flex-basis: auto;
  align-self: flex-center;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 2;
  flex-shrink: 3;
  flex-basis: auto;
  align-self: flex-center;
  order: 0;
}
</style>

<div class="row text-start bg-secondary text-light">
    <div class="col-3 p-2 m-1">
{{> title data="Excursion : " big=true}}
</div>
</div>
{{#with program.excursion}}

<div class="flex-container justify-content-center p-4">

   <div class="flex-items p-2 m-2" style="background:rgba(15, 112, 23, 0.918);">    
<dl>
    <dt>
            <h3>{{name}}</h3>
      </dt>
        {{#with location}}
    
    <dd>
        <b>Location : </b> <i>{{city}}, {{country}}</i>
    </dd>
    {{/with}}
    <dd>
        <b>Date : </b> <i>{{date}}</i>
    </dd>
    </div>

   <div class="flex-items flex-items p-2 m-2" style="background:rgba(16, 114, 24, 0.644);">

        <dt>
            <ins> {{> title data="Program : " big=false}} </ins>
        </dt>
{{#with program.[0]}}

<dl>
    <dd>
        <ol><b>Event title name : </b> <ins><strong>{{name}}</strong></ins></ol>
        <ol><b>Event type : </b> <ins><strong>{{type}}</strong></ins></ol>
        <ol><b>Duration : </b> <ins><strong>{{duration}}</strong></ins></ol>
    </dd>
</dl> 
{{#with details.museum}}
      <details open>
            <summary>
                <ins><strong>Addresses :</strong></ins>
            </summary>
            <dl>   
                {{#with location}}
     <dd>   
       <ol><ins><strong>City </strong></ins>  -  <ins>{{city}}, {{country}}</ins></ol>
        <ol><ins><strong>Address </strong></ins>  -  <ins>{{address}}</ins></ol>
    </dd>
    {{/with}}
    </dl>
</details>

<details open>
            <summary>
                <ins><strong>Exhibits :</strong></ins>
            </summary>
<dl>   
    {{#each exhibits}}
<dd>
    <ol><strong>Exhibit : </strong>  -  <i>{{name}}</i></ol>
    <ol><strong>Author : </strong>  -  <i>{{artist}}</i></ol>
    <ol><strong>Information : </strong> - <i>{{description}}</i></ol> 
</dd>

{{/each}}
{{/with}}
{{#with details.guide}}
<dd>
    <ul><strong>Audio Guide : </strong> </ul>
    <ol><strong>Title : {{name}}</strong> </ol>
    <ol><strong>Language : {{language}}</strong> </ol>
    <ol><strong>Rating : {{rating}}</strong> </ol>
</dd>
{{/with}}
</dl> 
</details>
       {{/with}} 

   </div>

   <div class="flex-items flex-items p-2 m-2" style="background:rgba(10, 88, 17, 0.411);">
            
<dl>
        <dt>
          <ins>{{> title data="Next Program Event : " big=false}}</ins>
        </dt>
{{#with program.[1]}}

<dl>
    <dd>
        <ol><b>Event title name : </b> <ins><strong>{{name}}</strong></ins></ol>
        <ol><b>Event type : </b> <ins><strong>{{type}}</strong></ins></ol>
        <ol><b>Duration : </b> <ins><strong>{{duration}}</strong></ins></ol>
    </dd>
</dl> 
       </dl>
{{/with}}
   </div>

</div>


{{/with}}
</main>