<main>
    {{> title data="Excursion : " big=true}} 
<br>
<hr>
<br>
{{#with program.excursion}}
<section>
    <dl>
    <dt>
       
        <ins>
            <h3>
                {{name}}
            </h3>
        </ins>
        {{#with location}}
    </dt>
    <dd>
        <b>Location : </b> <i>{{city}}, {{country}}</i>
    </dd>
    {{/with}}
    <dd>
        <b>Date:</b> <i>{{date}}</i>
    </dd>
  <dt>
         {{> title data="Program : " big=false}} 
  </dt>
</section>
<br>
<hr>
<br>

{{#each program}}

<section>
<dl>
    <dd>
        <ol><strong>Where ?!</strong> <ins>{{name}}</ins></ol>
        <ol><b>What is it ?!</b> <i> {{type}}</i></ol>
    </dd>
      <dd>
        <b>State:</b> <i>{{state}}</i>
    </dd>
    <dd>
        <b>Program Duration </b> <i>from</i> <i>{{duration}}</i>
    </dd>
<dt>
      <details open>
            <summary>
                <ins><strong>Location :</strong></ins>
            </summary>    
</dt>
     <dd>
        {{#with location}}
       <ol><strong>City : </strong>  -  <ins>{{city}}, {{country}}</ins></ol>
        <ol><strong>Address : </strong>  -  <ins>{{address}}</ins></ol>
    </dd>
    <br>
    </details>
<hr>
<br>
<dt>
     <ins><strong>Exhibits :</strong></ins>
</dt>
{{#each exhibits}}
<dd>
    <ol><strong>Exhibit : : </strong>  -  <i>{{name}}</i></ol>
    <ol><strong>Author : </strong>  -  <i>{{artist}}</i></ol>
    <ol><strong>Information : </strong></ol> 
        <li><i>{{description}}</i></li>
</dd>
<dd>
    <p>
    <strong>Audio Guide : </strong> 
        {{#if audio_guide}}
        <ins> english language</ins>
            {{else}}
           <ins><i>None</i></ins> 
            {{/if}}
    </p>
</dd>
{{/each}}
        {{/with}}
                
 </details> 
{{/each}}
    </dl>
</dl>
</section>
{{/with}} 
<br>
<hr>
<br>

</main>