 <main>
{{#with purchase}}
  <div class="col-12 container-flex row rounded g-2">
     
   <ol class="nav nav-tabs">
    {{#each tabs}}   
 {{#if @first}}
     <li class="nav-item active">
       
            <a class="nav-link fs-5 fw-normal active" href="#" >{{this}}</a>
        </li>
{{else}}
<li class="nav-item active">
            <a class="nav-link fs-5 fw-normal" href="#" >{{this}}</a>
        </li>
        {{/if}}
        {{/each}}  
   </ol>
   
  </div>

   <div class="col-5 container-flex row my-auto g-2">   

    {{#with actionBlock}}
   
 
     <div class="col-4 container input-group g-2 p-3 my-auto">
           <input class="form-control-lg" type="text" placeholder="{{input.placeholder}}" aria-describedby="search-form">
                  
                   {{#each buttons}}
                        {{#if isSuccess}}
                       <button href="{{link}}" class="input-group-text btn btn-success" type="button" id="search-form">{{text}}</button>
                       {{/if}}

                        {{#if isOutline}}
                        <button href="{{link}}" class="input-group-text btn btn-outline-success" type="button" id="search-form">{{text}}</button>
                        {{/if}}

                         {{#if isDanger}}
                         <button href="{{link}}" class="input-group-text btn btn-outline-danger" type="button" id="search-form">{{text}}</button>
                        {{/if}}
                    {{/each}}
    </div>
                     {{/with}}


</div>         
<hr>


<div class="row col-12 container-fluid p-3 g-1">

{{#each itemList}}
{{> purchaseItem}}
{{/each}}
 {{/with}}
</div>

{{#with userInfo}}
<div class="col-12 row container-fluid p-3 mt-2-3 g-2">

<p class="fs-2 fw-medium ms-2">{{title}}</p>


<div class="row col-12 container border p-3 my-3 g-1">
    {{#with profileData}}
    
    <p class="fs-3 fw-medium">{{title}}</p>
         <div class="col-12 row text-center border p-1 g-2">

{{!-- перша коллонка --}}

{{#with fullName}}
                <div class="col-4 text-center p-3 g-2">
                    {{#with surname}}
                    <p>{{title}}</p>
                    <p class="fw-bold">{{value}}</p>
                    {{/with}}
                </div>
            


{{!-- друга коллонка --}}

                <div class="col-4 text-center p-3 g-2">
                    {{#with name}}
                    <p>{{title}}</p>
                    <p class="fw-bold">{{value}}</p>
               {{/with}}
                </div>


{{!-- третя коллонка --}}

                    <div class="col-4 text-center p-3 g-2">
                {{#with middleName}}
                    <p>{{title}}</p>
                    <p class="fw-bold">{{value}}</p>
               {{/with}}

                </div>
{{/with}}
         </div>
    {{/with}}


{{!-- додаткові відомості --}}

    {{#with profileData.otherInfo}}
    
         <div class="col-12 row container border my-3 g-1">

{{!-- перша коллонка --}}

                <div class="col-4 text-center p-3 g-2">
                    {{#with birthday}}
                    <p>{{title}}</p>
                    <p class="fw-bold">{{value}}</p>
                    {{/with}}
                </div>
            


{{!-- друга коллонка --}}

                <div class="col-4 text-center p-3 g-2">
                    {{#with sex}}
                    <p>{{title}}</p>
                    <p class="fw-bold">{{value}}</p>
               {{/with}}
                </div>


{{!-- третя коллонка --}}

                    <div class="col-4 text-center p-3 g-2">
                {{#with language}}
                    <p>{{title}}</p>
                    <p class="fw-bold">{{value}}</p>
               {{/with}}

                </div>

         </div>
    {{/with}}


  {{/with}}  


{{#with userInfo.contacts}}
 <div class="col-12 row container border my-0 g-1"> 
            {{#each buttons}}
<div class="col-4 text-center p-3 pb-4 g-2">
{{> buttons}}
</div>
            {{/each}}
         </div>
{{/with}}

 </div>



{{#with userInfo.recipients}}
<div class="col-12 row container border p-3 my-3 g-1">
    <p class="fs-3 fw-medium py-2">{{title}}</p>

{{#each users}}    

 
{{> cardContact}}


{{/each}}
</div>
{{/with}}




{{#with userInfo.contacts}}
<div class="row col-12 container border p-3 my-3 g-1"> 

    <p class="fs-3 fw-medium py-1">{{title}}</p> 
   
        {{#with contactData.phone}}
<div class="col-3 g-2 card card-body text-center mx-1">
    <p>{{title}}</p>
   <p class="fw-medium">{{value}}</p>
         {{/with}}
                {{#each buttons}}
                        {{#if isPrimary}}
                      <button class="btn btn-primary" href="{{link}}">{{text}}</button> 
                        {{/if}}
                {{/each}}

</div>

 {{#with contactData.additionalPhone}}
<div class="col-3 g-2 card card-body text-center mx-1">
   
    <p>{{title}}</p>
   <p class="fw-medium">{{value}}</p>
         {{/with}}

                {{#each buttons}}
                        {{#if isPrimary}}
                      <button class="btn btn-primary" href="{{link}}">{{text}}</button> 
                        {{/if}}
                {{/each}}

</div>

 {{#with contactData.email}}
<div class="col-3 g-2 card card-body text-center mx-1">
   
    <p>{{title}}</p>
   <p class="fw-medium">{{value}}</p>
         {{/with}}

                {{#each buttons}}
                        {{#if isPrimary}}
                      <button class="btn btn-primary" href="{{link}}">{{text}}</button> 
                        {{/if}}
                {{/each}}

</div>

</div>
{{/with}}
    </div>

</main>