
                        {{#if isPrimary}}
                         <a class="btn btn-primary px-4 mx-0" href="{{link}}">{{text}}</a>
                        {{/if}}
                        {{#if isSecondary}}
                         <a class="btn btn-outline-warning px-4 mx-0" href="{{link}}">{{text}}</a>
                        {{/if}}
                        {{#if isDanger}}
                       <a class="btn btn-outline-danger px-3 mx-0" href="{{link}}">{{text}}</a>
                        {{/if}}
                        {{#if noCondition}}
                        <a class="btn btn-primary px-4 mx-0" href="{{link}}">{{text}}</a>
                        {{/if}}
                   