
      
    

<div class="col-4 card card-body text-center mx-3">
    <p>{{title}}</p>
<p class="fw-medium">{{name}}</p>
    <p>{{phone}}</p>
                    {{#with button}}
                        <a class="btn btn-primary text-center" href="{{link}}">{{text}}</a>
                    {{/with}}

</div>