      {{!-- <HEADER> - </HEADER>. 1 - Строка для 3 - Стовбців - START --}}
   <div class=" container-fluid rounded col-12 row m-auto border-bottom">
    {{#with navigation}}
    {{!-- 
    Поділив на 3 стовбці:

    1. - ЛОГО (мінімально місця). 
    2. - Можливість розтягнення контейнеру щоб зміщати 1 і 3. 
    3. - Навігація - так як може кількість зростати тому узяв більшу частину розміру 
    --}}

<div class="col-8 row container-fluid rounded m-auto">

      

{{!-- 1. Логотип --}}
        <div class="col-8 container rounded m-auto">
      {{!-- {{#if Logo}} --}}
            <img class="rounded-circle p-4" src="https://global-uploads.webflow.com/5e157547d6f791d34ea4e2bf/6087f2b060c7a92408bac811_logo.svg"  height="90" alt="{{Logo}}">
     {{!-- {{/if}} --}}
        </div>

  </div>



{{!--2 Навігація --}}



    <div class="col-4 row m-auto p-3 mb-4">

    

        <ul  class="nav jistify-content-end rounded p-1 m-auto" > 

            {{#each links}}
             {{#if href}}    
             {{#if @last}}
            <li class="nav-item row col-3 text-center border rounded p-3 m-auto"> 
                <a class="nav-link disabled" href="{{href}}">{{text}}</a>
            </li> 
            {{else}}
            <li  class="nav-item row col-3 text-center border rounded p-3 m-auto"> 
               
                <a class="nav-link" href="{{href}}">{{text}}</a>
            </li> 
            {{/if}}
            {{/if}}
    
{{/each}}
        </ul>

{{/with}}
</div>